@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.TextBox("Value")
    <input type="submit" value="Submit" />
}

<hr />

@using (Html.BeginForm("Action1", "Post"))
{
    <p>@Html.CheckBox("boolean") Булева переменная</p>
    <p>@Html.RadioButton("color", ConsoleColor.Red) Красный</p>
    <p>@Html.RadioButton("color", ConsoleColor.Green) Зеленый</p>
    <input type="submit" value="Submit" />
}

<hr />

@using (Html.BeginForm("Action2", "Post"))
{
    @Html.DropDownList("str", new SelectList(new [] {"A", "B", "C"}), "Choose")
    <input type="submit" value="Submit" />
}

<hr />

@using (Html.BeginForm("Action3", "Post"))
{
    <p>Автор: @Html.TextBox("Author")</p>
    <p>Название: @Html.TextBox("BookTitle") </p>
    <p>Доступна?: @Html.CheckBox("IsAvailable")</p>
    <input type="submit" value="Submit" />
}




